.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.color {
    border: 1px solid grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}