.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    border: 1px solid grey;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.color {
    border: 1px solid grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

#color-picker {
    border: 1px solid grey;
    width: 50px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ffa500;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #008000;
}

.blue {
    background-color: #0000ff;
}

.purple {
    background-color: #800080;
}

.brown {
    background-color: #a52a2a;
}

.grey {
    background-color: #808080;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #ffffff;
}